{% extends 'home.html'%}

{% load static %}
      

      {% block content %}
<!-- about section start  -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">About Us</h2>
      <p class="mx-5 fw-bold fs-5">Machinio is the largest global platform for buying and selling machinery and equipment. We’re experts at using technology to connect buyers and sellers and facilitating transactions. Thousands of dealers and suppliers trust us to market and sell their equipment. We do this by introducing them to millions of new buyers each year.</p>
    </div>
  </div>
</div>
{% endblock content %}
