{% extends 'home.html'%}

{% load static %}
      

{% block content %}
      

<nav class="navbar navbar-expand-md border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="logo" src="{% static 'img\brand_logo.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-md-flex mx-auto">
        <input class="form-control  m-1 my-md-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/manage_products">Manage Products</a>
        </li>
        

        
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/manage_staff">Manage Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/manage_user">Manage Users</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Wellcome, {{user.username}} 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/userinfo">Profile</a></li>
            <li><a class="dropdown-item" href="/logout">LOGOUT</a></li>
          </ul>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="/login" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        {% block admin %}
        {% endblock admin %}
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>

<div class="container mt-5">

    <!-- SIGNUP section start -->
    <div class="row l1 mb-5">
        <div class="col-lg-6 col-md-8 col-10 border p-3">
            <h1 class="l2">REGISTRATION FOR STAFF</h1>
            <hr class="mx-auto" width="80%">
            
            <form action="/add_staff" method="post">
              {% csrf_token %}
              <input required type="text" name="is_staff" value="True" hidden class="form-control cft1" placeholder="is staff">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="First_Name" class="form-lable my-3">First Name</label>
                        <input required type="text" name="firstname" class="form-control cft1" placeholder="Entar First Name">
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="Last_Name" class="form-lable my-3">Last Name</label>
                        <input required type="text" name="lastname" class="form-control cft1" placeholder="Entar Last Name">
                    </div>
                </div>
                <div>
                  <label for="username" class="form-label my-3">User Name</label>
                  <input required type="text" name="username" class="form-control cft1" placeholder="Enter Your User Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">User Name Must Be Unique</div>
                </div>
                <div>
                  <label for="Email" class="form-label my-3">EMAIL ADDRESS<span class="red">*</span></label>
                  <input required type="email" name="email" class="form-control cft1" placeholder="Enter Your Email Address" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text red ">We'll never share your email with anyone else.</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="password1" class="form-label my-3">Password</label>
                        <input required type="password" name="password1" class="form-control cft1" placeholder="Password">
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="password2" class="form-label my-3">Confirm Password</label>
                        <input required type="password" name="password2" class="form-control cft1" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="col3"> 
                      <button class="btn cb1 my-3" >REGISTER</button>
                  </div>
                  <!-- <div class="col-7 mt-4">
                      <a href="/login" class="l3">Already have an account?</a>
                  </div> -->
                </div>
              </form>
              
              
        </div>
    </div>
    <!-- SIGNUP section end -->

</div>



{% endblock content %}