{% extends 'home.html'%}

{% load static %}
      

      {% block content %}

      <div class="container mt-5">

        <!-- SIGNUP section start -->
        <div class="row l1 mb-5">
            <div class="col-lg-8 col-md-8 col-10 border p-3">
                <h1 class="l2">Change Password FORM</h1>
                <hr class="mx-auto" width="80%">
                
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit" class="btn cb1 my-3">Change Password</button>
                </form>
                  

               
                  
            </div>
        </div>
        <!-- SIGNUP section end -->

    </div>


     


<!-- <h1>change your password</h1>
<p>use the form below to change your password</p>

<form method="post">
    {{form.as_p}}
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}

</form> -->

<!-- <div class="container">
<form action="/password_change" method="post">
    {% csrf_token %}
    <div>
        <label for="old_password" class="form-label my-3">Old Password</label>
        <input required type="password" name="old_password" class="form-control cft1" placeholder="Enter Your Old Password" >
    </div>
    <div>
        <label for="new_password" class="form-label my-3">New Password</label>
        <input required type="password" name="new_password" class="form-control cft1" placeholder="Enter Your New Password" >
    </div>
    <div>
        <label for="confirm_password" class="form-label my-3">Confirm Password</label>
        <input required type="password" name="confirm_password" class="form-control cft1" placeholder="confirm_password" >
    </div>
    <div>
        <button type="submit" class="btn cb1 my-3" >change_password</button>
    </div>
</form>
</div> -->

{% endblock content %}
