{% extends 'home.html'%}
{% block admin %}
<li class="nav-item">
  <a class="nav-link active" href="/admin_login" tabindex="-1" aria-disabled="true">Admin Login</a>
</li>
{% endblock admin %}
{% load static %}
      

      {% block content %}
      <div class="container mt-5">
        <!-- LOGIN section start -->
        <div class="row l1">
            <div class="col-lg-4 col-md-6 col-10 border p-3">
                <h1 class="l2">USER LOGIN</h1>
                <hr class="mx-auto" width="80%">
                <form action="/login" method="post">
                  {% csrf_token %}
                  <div>
                    <label for="username" class="form-label my-3">YOUR User Name</label>
                    <input required type="text" name="username" class="form-control cft1" placeholder="Enter Your username" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  
                    <div>
                      <label for="password" name="password" class="form-label my-3">YOUR PASSWORD</label>
                      <input required type="password" name="password" class="form-control cft1" placeholder="Enter Your Password" id="exampleInputPassword1">
                    </div>

                  
                  <div class="d-flex justify-content-between">
                    <div class="col3"> 
                        <button class="btn cb1 my-3">LOGIN</button>
                    </div>
                    <div class="col-7 mt-4">
                        <a href="/registeration" class="l3">don't have an account?</a>
                    </div>
                  </div>
                  <div>
                    <a href="/password_reset" class="l3">Forgot Password?</a>
                  </div>
                </form>
            </div>
        </div>
        <!-- LOGIN section end -->
      </div>



      {% endblock content %}