{% extends 'home.html'%}

{% load static %}
      

      {% block content %}

      <div class="container mt-5">

        <!-- SIGNUP section start -->
        <div class="row l1 mb-5">
            <div class="col-lg-8 col-md-8 col-10 border p-3">
                <h1 class="l2">Reset Your Password </h1>
                <hr class="mx-auto" width="80%">
                
                <form method="post">
                    {{ form.as_p}}
                    <button type="submit" class="btn cb1 my-3">Send Mail</button>
                    {% csrf_token %}
                </form>
                  

               
                  
            </div>
        </div>
        <!-- SIGNUP section end -->

    </div>


     




{% endblock content %}
