{% extends 'home.html'%}

{% load static %}
      

      {% block content %}

      <div class="container mt-5">

        <!-- SIGNUP section start -->
        <div class="row l1 mb-5">
            <div class="col-lg-8 col-md-8 col-10 border p-3">
                <h1 class="l2">Forgot Password FORM</h1>
                <h1 class="l2">password reset done</h1>

                <hr class="mx-auto" width="80%">
                <p>we have emailed you instruction for setting your password</p>
                <p>
                    if you don't receive an email, please make sure you've entered the correct email address. 
                </p>

                
                  

               
                  
            </div>
        </div>
        <!-- SIGNUP section end -->

    </div>


     



{% endblock content %}
