{% extends 'home.html'%}

{% load static %}
      

      {% block content %}

      <div class="container mt-5">

        <!-- SIGNUP section start -->
        <div class="row l1 mb-5">
            <div class="col-lg-8 col-md-8 col-10 border p-3">
                <h1 class="l2">Reset your password</h1>
                

                <hr class="mx-auto" width="80%">
                <p>we have emailed you instruction for setting your password</p>
                {% if validlink %}
                <p>
                Please enter your Password twice.
                </p>

                <form method="post">
                    
                    {{ form.as_p}}
                    {% csrf_token %}
                    <p><input type="submit" value="Change My Password"></p>
                </form>
                {% else %}
                <p>
                    The password reset link was invalid. Possibly because it has already used. Please request a New link
                </p>
               
                  
            </div>
        </div>
        <!-- SIGNUP section end -->

    </div>


     



{% endblock content %}
